.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
}
  
.modal_content h2 { margin-bottom: 10px; }
  
.modal_content input,
.modal_content textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.container_completed {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100px;
}
  
